HOST_PORT=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_LOGIN=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_SYNC=true
POSTGRES_LOGGING=true
POSTGRES_MIGRATIONSRUN=true
POSTGRES_LOGGER='file'
POSTGRES_MIGRATIONS=["dist/database/migrations/**/*{.ts,.js}"]
POSTGRES_ENTITIES=["src/**/*.entity{.ts,.js}"]
POSTGRES_CLI_MIGRATIONSDIR='src/database/migrations'

PA_PORT=
PA_LOGIN=
PA_PASSWORD=